<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Lazy - Bootstrap UI Kit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="A new design system for developing with less effort.">
    <meta name="author" content="BootstrapBay">

    <link href="/static/img/favicon.ico" rel="icon" type="image/png">
    
    <link rel="stylesheet" href="/static/vendor/bootstrap/bootstrap.min.css">
		<link rel="stylesheet" href="/static/css/lazy.css">
		<link rel="stylesheet" href="/static/css/demo.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.0/css/all.css" integrity="sha384-aOkxzJ5uQz7WBObEZcHvV5JvRW3TUc2rNPA7pe3AwnsUohiw1Vj2Rgx2KSOkF5+h" crossorigin="anonymous">
  </head>
  <body class="profile">
    <nav class="navbar navbar-expand-md navbar-dark bg-primary mb-4 fixed-top">
    <div class="container">

      <a class="navbar-brand d-flex align-items-center" href="teacherprofile"><img src="/static/img/logo_white.svg" alt="Example Navbar 1" class="mr-2" height="30"> Lazy Kit</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown-3" aria-controls="navbarNavDropdown-3"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse mr-auto" id="navbarNavDropdown-3">
        <ul class="navbar-nav ml-auto text-center">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fas fa-chart-line"></i>
            </a>
          </li>



          <li class="nav-item">
            <a class="nav-link" href="/teacherprofile/userslist">
              <i class="far fa-user"></i>
            </a>
          </li>

          <li class="nav-item">
            <a href="/logout">
            <img style="padding-top: 0.3cm; padding-left: 0cm;"  width= "17" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.iconsdb.com%2Ficons%2Fdownload%2Fwhite%2Flogout-512.gif&f=1&nofb=1" href="/logout">
            </a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>
<div class="container">
  <div class="info">
    <div class="row">

	    <div class="col-12 col-md-8 d-flex flex-column align-items-center align-items-lg-start">
		    <div class="d-flex flex-row align-items-start mt-3 mt-lg-0">
			    <div class="name">
		    		<h2 class="mb-0">Welcome, {{name}}!</h2>
			    </div>
		    
		    </div>
		    <div class="stats d-flex flex-row align-items-center align-items-lg-start text-center text-lg-left">

		    </div>
		    
		    <p class="lead text-center text-lg-left">{{type}}</p>
	    </div>
    </div>
  </div>

  <div class="profile-tabs tab-content">
    <div class="tab-pane fade show active" id="photos">

      <table class = table table-hover>
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Date Taken</th>
            <th scope="col">Percentage of Risk</th>
          </tr>
          <tbody> 
            {% for number in range(0, count) %}
              <tr class="table-active">
                <th scope = 'row'>{{names[number]}} </th>
                <th scope = 'row'>{{dates[number]}} </th>
                <th scope = 'row'>{{percentages[number]}}%</th>




              </tr>

            {% endfor %}

          </tbody>

        </thead>



      </table>



    </div>
    <div class="tab-pane fade text-center" id="saved">

      <p class="lead"><span class="text-danger"><i class="far fa-frown-open"></i></span> Nothing saved yet.</p>
    </div>

  </div>

</div>

    
<footer class="footer-1 bg-light text-dark">
  <div class="container">
  <div class="d-flex flex-column flex-md-row justify-content-center align-items-center">
    <center>
      <div class="social mt-4 mt-md-0">
      <a class="twitter btn btn-outline-primary btn-icon" href="#" target="_blank">
      <i class="fab fa-twitter"></i>
      <span class="sr-only">View our Twitter Profile</span>
      </a>
      <a class="facebook btn btn-outline-primary btn-icon" href="#" target="_blank">
      <i class="fab fa-facebook"></i>
      <span class="sr-only">View our Facebook Profile
        <span>
      </a>
      <a class="github btn btn-outline-primary btn-icon" href="https://github.com/SadFarm1" target="_blank">
      <i class="fab fa-github"></i>
      <span class="sr-only">View our GitHub Profile</span>
      </a>
    </div>
    </center>
  </div>
  <div class="copyright text-center">
    <hr />
    <p class="small">&copy; 2020 Aryadeep Buddha</p>
  </div>
  </div>
  </footer>
  


    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/popper/popper.min.js"></script>
    <script src="/static/vendor/bootstrap/bootstrap.min.js" ></script>

    <!-- optional plugins -->
    <script src="/static/vendor/nouislider/js/nouislider.min.js"></script>

    <!--   lazy javascript -->
    <script src="/static/js/lazy.js"></script>
  </body>
</html>
